@model Movies

<h1>Enter a Movie</h1>

<!--the form to submit a movie-->
<form method="post">
    <input type="hidden" asp-for="MovieId" />
    <label asp-for="Title">Movie Title: </label>
    <input asp-for="Title" required />
    <br />
    <br />
    <select asp-for="CategoryId">
        <option value="">Select a Movie Category: </option>
        @foreach (Category c in ViewBag.Categories)
        {
            <option value="@c.CategoryId">@c.CategoryName</option>
        }
    </select>
    <br />
    <br />
    <label asp-for="Year">Year Released: </label>
    <input asp-for="Year" required min="1888" />
    <br />
    <br />
    <label asp-for="Director">Director (first and last name): </label>
    <input asp-for="Director" required />
    <br />
    <br />
    <label asp-for="Rating">Movie Rating: </label>
    <select asp-for="Rating" required>
        <option value="G">G</option>
        <option value="PG">PG</option>
        <option value="PG13">PG-13</option>
        <option value="R">R</option>
    </select>
    <br />
    <br />
    <label asp-for="Edited">Edited: </label>
    <select asp-for="Edited">
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <br />
    <br />
    <label asp-for="LentTo">Lent Movie to: </label>
    <input asp-for="LentTo"/>
    <br />
    <br />
    <label asp-for="CopiedToPlex">Copied to Plex: </label>
    <select asp-for="CopiedToPlex" required>
        <option value="true">Yes</option>
        <option value="false">No</option>
    </select>
    <br />
    <br />
    <label asp-for="Notes">Notes on Movie: </label>
    <input asp-for="Notes" maxlength="25" />
    <br />
    <br />
    <button type="submit">Submit Movie</button>
</form>
