@{
    ViewData["Title"] = "Get to Know Joel";
}
<h1>@ViewData["Title"]</h1>

<div>
<h2>Want to see me in real life?</h2>
<h6>Watch me perform at Quick Wits Comedy at this link:</h6>
<p> 
    <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a>
</p>
</div>
<br />
<div>
    <h2>Want more Joel Content?</h2>
    <h6>Click this link:</h6>
    <p>
        <a href="https://baconsale.com/">Bacon Sale Site</a>
    </p>
    <br />
    <a href="https://baconsale.com/">
        <img src="/img/baconsalekate.jpg" alt="Bacon Sale Kate Image" height="200"/>
    </a>
</div>

